attrs==21.4.0
boto3==1.17.107
botocore==1.20.107
cachetools==4.2.4
certifi==2022.6.15
chardet==4.0.0
cmd2==2.4.1
duckdb==0.4.0
google-api-core==1.30.0
google-api-python-client==2.11.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.20.4
idna==2.10
jmespath==0.10.0
numpy==1.22.4
packaging==21.3
pandas==1.4.2
protobuf==4.21.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.25.1
rsa==4.8
s3transfer==0.4.2
six==1.16.0
uritemplate==3.0.1
urllib3==1.26.9
wcwidth==0.2.5
